# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!train.py
!test.py
!batch_train.py
!batch_train_cuda.py
!batch_test.py
!Readme.md
!__init__.py
!/models/**
!/problems/**
!/confgiuration/**
!/configs/**
!/misc/**
# You can be specific with these rules
!/docs/conf.py
!/docs/index.rst
!/docs/Makefile
!/docs/make.bat
!/docs/source/conf.py
!/docs/source/index.rst
__pycache__*
*.swp
!.gitignore
problems/vision/data_mnist
