# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree

!Readme.md
!readthedocs.yml
!setup.py
!__init__.py
!/configs/**
!/docs/**
!/scripts/**
!/mip/**

# You can be specific with these rules
__pycache__*
*.swp
*.vector_cache
!.gitignore

# not sure if those are needed
problems/.DS_Store
problems/image_text_to_class/.DS_Store
problems/image_text_to_class/CLEVR_v1.0
CLEVR_v1.0/
