version: 1
disable_existing_loggers: False
formatters:
    simple:
        format: '[%(asctime)s] - %(levelname)s - %(name)s >>> %(message)s' 
        datefmt: '%Y-%m-%d %H:%M:%S'
handlers:
    console:
        class: logging.StreamHandler
        level: INFO
        formatter: simple
        stream: ext://sys.stdout
    file:
        (): __main__.logfile
        level: DEBUG
        formatter: simple
root:
    level: DEBUG
    handlers: [console, file]

