# Problem parameters:
training:
  problem:
    name: &name COG
    # Size of generated input: [batch_size x sequence_length x classes].
    batch_size: &batch_size 48
#    tasks: &tasks [AndCompareColor, AndCompareShape , AndSimpleCompareColor,
#            AndSimpleCompareShape, CompareColor, CompareShape, Exist,
#            ExistColor, ExistColorOf, ExistColorSpace, ExistLastColorSameShape,
#            ExistLastObjectSameObject, ExistLastShapeSameColor, ExistShape,
#            ExistShapeOf, ExistShapeSpace, ExistSpace, GetColor, GetColorSpace,
#            GetShape, GetShapeSpace, SimpleCompareColor, SimpleCompareShape]
    tasks: &tasks [AndCompareColor]
    data_folder: &data_folder '~/data/cog'
    set: val
    use_mask: &use_mask False
    dataset_type: &dataset_type canonical
  # Set optimizer.
  optimizer:
    name: Adam
    lr: 0.0002
    weight_decay: 0.00002
  gradient_clipping: 10
  terminal_conditions:
    epoch_limit: 40
    episodes: 100000000

validation:
  partial_validation_interval: 100
  problem:
    name: *name
    # Size of generated input: [batch_size x sequence_length x classes].
    batch_size: *batch_size
    tasks: *tasks
    data_folder: *data_folder
    set: val
    use_mask: *use_mask
    dataset_type: *dataset_type

testing:
 problem:
  name: *name
  # Size of generated input: [batch_size x sequence_length x classes].
  batch_size: *batch_size
  tasks: *tasks
  data_folder: *data_folder
  set: test
  dataset_type: *dataset_type
