# Problem parameters:
training:
  problem:
    name: &name COG
    # Size of generated input: [batch_size x sequence_length x classes].
    batch_size: &batch_size 48
    tasks: &tasks [
            Exist, ExistShape, ExistColor,
            ExistShapeOf, ExistColorOf,
            GetShape, GetColor,
            GetShapeSpace, GetColorSpace,
            CompareShape, CompareColor,
            SimpleCompareShape, SimpleCompareColor,
            AndSimpleCompareShape, AndSimpleCompareColor,
            ExistLastColorSameShape, ExistLastShapeSameColor, ExistLastObjectSameObject,
            AndCompareShape, AndCompareColor,
            ExistSpace, ExistShapeSpace, ExistColorSpace,
           ]
    data_folder: &data_folder '~/data/cog'
    set: train
    use_mask: &use_mask False
    dataset_type: &dataset_type hard
    aggregated: true
  # Set optimizer.
  optimizer:
    name: Adam
    lr: 0.0002
    weight_decay: 0.00002
  gradient_clipping: 10
  terminal_conditions:
    epoch_limit: 40
    episodes: 100000000
    episode_limit: 100000000

validation:
  partial_validation_interval: 200
  problem:
    name: *name
    # Size of generated input: [batch_size x sequence_length x classes].
    batch_size: 192
    tasks: *tasks
    data_folder: *data_folder
    set: val
    use_mask: *use_mask
    dataset_type: *dataset_type
    aggregated: true

testing:
  problem:
    name: *name
    # Size of generated input: [batch_size x sequence_length x classes].
    batch_size: *batch_size
    tasks: *tasks
    data_folder: *data_folder
    set: test
    dataset_type: *dataset_type
    aggregated: true

